*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.interface{
    display : flex;
    flex-direction: row;
    left: 50%;
    top: 0px;
    gap : 15px;
    padding: 20px;
}
.interface .input{
    border-radius: 5px;
}

.interface .selectOp{
    display : inline-block;
    border-radius: 5px;
}

.circuloMod {
    position: absolute;
    left : 600px;
    top : 150px;
}
.circuloMod .ponteiro{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 80px;
    background-color: black;
    transition: transform 0s ease-out;
    transform: translate(-50%, -100%) rotate(0deg);
    transform-origin: bottom center;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}










